* {
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: grey;
}
    .nostyle-list li {
        list-style: none;
        padding: 2px
        
    }

/* SPAN CLASSES */
.bold {
    font-weight: bolder;
}

.sum {
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

.sum h3 {
    align-self: center;
}