

:root{
    --Primary-color: #0f4c5c;
    --Secondary-color: #e36414;
}


html{scroll-behavior: smooth;}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
   
}

#wrapper {
     display: grid;
     grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}

header {
    grid-column: 1/-1;
    display: grid;
    background: url(Lego\ Ferrari.jpg);
    height: 600px;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr auto 1fr;
    color: white;
}

.hero-overlay {
        grid-column: 1/-1;
    display: grid;
    height: 600px;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr auto 1fr;
    color: white;
    background:linear-gradient(to top, rgba(48, 125, 146, 1), rgba(48, 125, 146, 0.2));
    backdrop-filter: blur(0.8);
}
.navbar{
    grid-row: 1/2;
    grid-column: 1/-1;
    background: rgba(66, 14, 14, 0.3);
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: var(--Primary-color);
}


.logo h3{
    background-color: var(--Secondary-color);
    padding: 1.5rem;
    border-radius: 8px;
    font-style: italic;
    font-weight: 700px;

}



.socials{
    display: flex;
    transform: translateX(-50px);
    gap: 0.5rem;
    justify-content: space-around;
    font-size: 3rem;
    
}

.hamburger {
    display: flex;
    flex-direction: column;
    color:white;
    gap: 1em;
    & span{
        border-bottom: 2px solid white;
        width: 2rem;
        gap: 1em;
    }
}

nav {
    display: none;
}

.hero-content{
    grid-column: 2/3;
    grid-row: 2/2;
    background: white;
    justify-self: center;
    align-self: center;
    width: 85vw;
    border-radius: 8px;
    z-index: 100;
    color: black;
    
}

.skills{
  font-weight: bolder;
    padding: 1.2rem;
    li:nth-child(4){
        list-style-type: none;
    }
    ul {
        list-style-type: circle;
        margin: 0;
    }

    h2 {
       color: var(--Secondary-color);
        font-weight: 500px;
    }
  
}

main {
    background: rgba(217, 37, 217, .3);
    margin: 1.5rem;
    height: 400px;
    grid-column: 2/-2;
    border-radius: 8px;
}

footer {
    background: rgba(217, 255, 50, 0.3);
    height: 100px;
    grid-column: 1/-1
}


