body {
    color: #666666;
    background-color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    line-height: 140%;
    padding: 5rem;
}

nav{
    list-style-type: none;
   color: #F3F3F3;
}